[submodule "elasticsearch"]
	path = elasticsearch
	url = https://github.com/yep/usergrid-elasticsearch
[submodule "java"]
	path = java
	url = https://github.com/yep/usergrid-java
[submodule "cassandra"]
	path = cassandra
	url = https://github.com/yep/usergrid-cassandra
